.bg-container {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}
.comments-bg-container {
  height: 91vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments-container {
  height: 90%;
  width: 90vw;
}
.comments-header {
  background-color: #d5d3e6;
  height: 60px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #726db3;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 3px;
}
@media screen and (max-width: 767px) {
  .comments-header {
    height: 40px;
    font-size: 10px;
  }
}
.post-section {
  width: 13%;
  margin-left: 5px;
}
.name-section {
  width: 24%;
}
.email-section {
  width: 25%;
}
.comments-section {
  width: 38%;
}
.comments-data-container {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.filtering-container {
  height: 15vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: #e9e4f0 1px 1px 2px 2px;
  width: 45%;
}
.search-icon {
  height: 25px;
  width: 25px;
}
.input-element {
  height: 45px;
  border-width: 0px;
  width: 90%;
  border-color: #ffffff;
  color: #535057;
  font-size: 15px;
  font-family: 'Roboto';
}
@media screen and (max-width: 575px) {
  .search-icon {
    height: 13px;
    width: 13px;
  }
  .input-element {
    height: 25px;
    font-size: 5px;
  }
}
@media screen and (max-width: 767px) {
  .search-icon {
    height: 11px;
    width: 11px;
  }
  .input-element {
    height: 25px;
    font-size: 10px;
  }
}
.sort-btn {
  background-color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  height: 35px;
  width: 90px;
  border-radius: 7px;
  border-width: 0px;
   box-shadow: #e9e4f0 1px 1px 2px 1px;
}
